<p id="notice"><%= notice %></p>

<h1>Newhistoria</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Texto</th>
      <th>Imagem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @historia.each do |newhistorium| %>
      <tr>
        <td><%= newhistorium.nome %></td>
        <td><%= newhistorium.texto %></td>
        <td><%= newhistorium.imagem %></td>
        <td><%= link_to 'Show', newhistorium %></td>
        <td><%= link_to 'Edit', edit_historium_path(newhistorium) %></td>
        <td><%= link_to 'Destroy', newhistorium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Newhistorium', new_historium_path %>